@import "node_modules/foundation-sites/scss/foundation";
@import "settings";

@include foundation-everything;

.top-bar {
  border-bottom: 1px solid #B5190E;
}
.top-bar input {
  height: 1.8rem;
}

.title-bar-title a {
  color: #fff;
  font-family: Lato, serif;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.top-bar-left {
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}

.top-bar-right, .top-bar input {
  font-size: 0.9125rem;
}