<!DOCTYPE html>
<html lang="en">
<head>
	#includeTemplate($model.weblog "head")
	<title>Search Results for '$model.term' | $model.weblog.name</title>
	#if ($model.hits > 0)
		<style>
		span.searchword { background-color:yellow; }
		</style>
		<script>
			//<![CDATA[
				searchhi_config = {ignore_site : '$url.absoluteSite'};
			//]]>
		</script>
		<script type="application/x-javascript" src="$url.resource('js/searchhi.js')"></script>
		<script>
			//<![CDATA[
			function loadSearchHighlight() {
				searchhi.highlightWord(document.getElementById("search_results"), '$model.term');
			}
			//]]>
		</script>
   	#end
</head>
<body onload="loadSearchHighlight()">

	## HEADER 
	#includeTemplate($model.weblog "header")

	## BODY 
	<div class="container">
	    <div class="row">
	  	
            ## BODY MAIN
            <div id="main_content" class="$mainColumn">
                #if ($model.hits > 0)
                    <div id="search_results">
                         #showNextPrevSearchControl($pager)
                         #set($pager = $model.getWeblogEntriesPager())
                         #showWeblogEntriesPager($pager)

                         #includeTemplate($model.weblog "pager")

                    </div>
                #else
                     <br />
                     <br />
                     <h3>Sorry, your search returned no results</h3>
                     <br />
                     <br />
                #end
                </div>

            ## BODY - SIDEBAR
            <div id="sidebar_content" class="$sideColumn">
                <div class="well">
                    <h3>Advance Search</h3>
                    <p>You can refine your search and/or search within one weblog category</p>
                        <form class="form-inline" role="form" method="get" action="$url.search">
                            <div class="form-group" role="form">
                                <input type="text" id="q" class="form-control" name="q" size="8" maxlength="255" value="$model.term" />
                            </div>
                            <div class="form-group" role="form">
                                #set( $cats = $model.weblog.getWeblogCategories() )
                                #if(!$site && $cats && $cats.size() > 1)
                                    <select class="form-control" name="cat">
                                        <option value="">$text.get( "macro.searchresults.incategory" )</option>
                                        #foreach( $cat in $cats )
                                        <option #if($cat.name == $model.weblogCategory.name)selected="selected"#end>$cat.name</option>
                                        #end
                                    </select>
                                #end
                            </div>
                            <div class="form-group" role="form">
                                <button type="submit" class="button tiny">Search</button>
                            </div>
                        </form>
                        $text.get( "macro.weblog.searchgoogle", [$model.term, $url.absoluteSite, $url.site, ${model.weblog.handle}] )
                </div>
            </div> ## close sidebar_content
		</div> ## /.row 
	</div> ## /.container 

	## FOOTER 
	#includeTemplate($model.weblog "footer")

</body>
</html>
