body {
    color: #333;
}
h2 a {
    color: #222;
}
h3 {
    margin-bottom: 1rem;
}

.container {
    padding: 0 1em 0 1em;
    margin-top: 3em;
}

/*  Site title  */
.blog-title {
    font-size: 2rem;
    line-height: 1em;
    margin-top: 0;
    padding-left: 0.7em;
}
.blog-title a {
    color: #444;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.entryBox {
    margin-bottom: 2em;
}
.entryBox p a:visited, .entryBox li a:visited {
    color: #E41F11;
}

pre code {
    border: 1px solid #ccc;
    font-size: 0.85rem;
    margin-bottom: 1em;
    max-height: 40em;
}

.small-text {
    font-size: 0.8rem;
}

.pager {
    list-style-type: none;
    padding-bottom: 1em;
}

#search-box {
    padding: 0 0.7rem;
    max-width: 10em;
}

#commentAuthenticator p {
    font-size: 1rem;
}
#comment_section {
    padding: 1em;
}
.entrypermalink {
    color: #666;
    font-size: 0.8em;
}
.entrypermalink:hover {
    color: #888;
}

footer {
    padding: 1em;
}

/*  Archives  */
.archives-panel ul {
    list-style-type: none;
    list-style-position: inside;
}

/*  Accessibility  */
.acc-hide {
    display: none;
}
.entryContent ol {
    margin-left: 2.25rem;
}
/* Adjust styles based on screen size */
@media only screen and (min-width:37.563em) { /* 601px */
    p, blockquote, .entryContent ul, .entryContent ol, .entryContent dl, .pager {
        font-size: 1.1rem;
    }
    .blog-title a {
        font-size: 0.87rem;
    }
    #comment_section p {
        font-size: 1.1rem;
    }
    .small-text {
        font-size: 0.9rem;
    }
}
@media only screen and (min-width:50.063em) { /* 801px */
    .container {
        padding: 0 3rem 0 3rem;
    }
}
@media only screen and (min-width:56.313em) { /* 901px */
    .container {
        padding: 0 6rem 0 6rem;
    }
}
@media only screen and (min-width:64.063em) { /* 1025px */
    .container {
        padding: 0 8rem 0 8rem;
    }
}
@media only screen and (min-width:90.063em) { /* 1441px */
    .container {
        padding: 0 10rem 0 10rem;
    }
}